	img {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin-left: 15px;
}
.container{width:100%;}
	.dropdown-menu{position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;}

.navbar {
    font-size: 1.1rem;
    // text-align: right;


}
// .tops { width: 100%;}


#nav {
float: right;
// min-width: 500px;
}
#nav:after {
content: '';
display: inline-block;
width: 100%;
}
#nav li {
margin-top: 2%;
display: inline-block;
}




